.navbar {
  width: 100%;
  height: 80px;
  background: #e0d5e9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;   /* keeps content inside nicely */
  margin: 0 auto;      /* centers content */
  padding: 0 40px;     /* moves content inward */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.logout-btn {
  background: white;
  color: #8c00ff;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background: #f2e6ff;
}
