.translator-container {
  width: 700px;
  margin: 120px auto 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.input-box {
  width: 97%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

.language-dropdown {
  width: 50%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.translate-btn {
  width: 100%;
  padding: 12px;
  background: #7F00FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s ease;
}

.translate-btn:hover {
  background: #6700cc;
}

.output-box {
  margin-top: 20px;
  background: #f7f7f7;
  padding: 15px;
  min-height: 120px;
  border-radius: 10px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  font-size: 16px;
  color: black;
}
