body, html {
  height: 100%;
  margin: 0;
}

.container {
 body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6; /* optional light background */
}

.box {
  background-color: white;
  color: black;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

}

.box {
    background-color: white;
    color: black;
    width: 400px;
    height: 500px;
    /* padding: 30px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* text-align: left; */
    

}

.register  {
    display: flex;
    flex-direction: column;
    align-items:self-start;
    justify-content:left;
    color: black;
    gap: 5px;
    padding: 5px;
}
.register input {
  width: 100%;
  height: 30px;
  background: white !important;
  border-radius: 4px;
  border: 2px solid #A7AAE1;
  color: black;
  padding: 5px;
}

/* Placeholder text color */
.register input::placeholder {
  color: black;
  opacity: 1;
}

/* Fix autofill gray background (for Chrome/Edge) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}


/* Focus effect */
.register input:focus {
  background-color: #ffffff;
  border: 2px solid #8C00FF;
  box-shadow: 0 0 8px rgba(140, 0, 255, 0.3);
}


.btn{
  background: #8C00FF;
  color: #fff;    
  width: 100%;
  /* padding: 5px ; */
  margin: 8px 0px;
}